<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Games &#8211; Listing Manager Pro</title>
	<atom:link href="http://listing-manager-pro.wearecodevision.com/product-category/travel/games/feed/" rel="self" type="application/rss+xml" />
	<link>http://listing-manager-pro.wearecodevision.com</link>
	<description>Directory for WooCommerce</description>
	<lastBuildDate>Tue, 22 Aug 2017 12:18:58 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.1</generator>
</channel>
</rss>
