<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Tasty Pizza</title>
	<atom:link href="http://listing-manager-pro.wearecodevision.com/listing/food-drink/tasty-pizza/feed/" rel="self" type="application/rss+xml" />
	<link>http://listing-manager-pro.wearecodevision.com/listing/food-drink/tasty-pizza/</link>
	<description>Directory for WooCommerce</description>
	<lastBuildDate>Wed, 29 Nov 2017 20:51:45 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.1</generator>
	<item>
		<title>By: Dominick Hollis</title>
		<link>http://listing-manager-pro.wearecodevision.com/listing/food-drink/tasty-pizza/#comment-19</link>
		<dc:creator><![CDATA[Dominick Hollis]]></dc:creator>
		<pubDate>Sun, 28 May 2017 16:18:42 +0000</pubDate>
		<guid isPermaLink="false">http://wplistingmanager.com/?post_type=product&#038;p=15#comment-19</guid>
		<description><![CDATA[Vestibulum vulputate mi id nisl facilisis cursus. Ut nec mauris sem. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.]]></description>
		<content:encoded><![CDATA[<p>Vestibulum vulputate mi id nisl facilisis cursus. Ut nec mauris sem. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Dominick Hollis</title>
		<link>http://listing-manager-pro.wearecodevision.com/listing/food-drink/tasty-pizza/#comment-18</link>
		<dc:creator><![CDATA[Dominick Hollis]]></dc:creator>
		<pubDate>Sun, 28 May 2017 16:18:26 +0000</pubDate>
		<guid isPermaLink="false">http://wplistingmanager.com/?post_type=product&#038;p=15#comment-18</guid>
		<description><![CDATA[Aliquam feugiat ultrices sapien. Vivamus ornare risus felis, sed vehicula arcu auctor nec. Etiam id velit sed augue ultricies blandit vel vel tortor.]]></description>
		<content:encoded><![CDATA[<p>Aliquam feugiat ultrices sapien. Vivamus ornare risus felis, sed vehicula arcu auctor nec. Etiam id velit sed augue ultricies blandit vel vel tortor.</p>
]]></content:encoded>
	</item>
</channel>
</rss>
