<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Products &#8211; Listing Manager Pro</title>
	<atom:link href="http://listing-manager-pro.wearecodevision.com/shop/feed/" rel="self" type="application/rss+xml" />
	<link>http://listing-manager-pro.wearecodevision.com</link>
	<description>Directory for WooCommerce</description>
	<lastBuildDate>Tue, 22 Aug 2017 12:18:58 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.1</generator>
	<item>
		<title>Woo Single #2</title>
		<link>http://listing-manager-pro.wearecodevision.com/listing/uncategorized/woo-single-2/</link>
		<comments>http://listing-manager-pro.wearecodevision.com/listing/uncategorized/woo-single-2/#comments</comments>
		<pubDate>Fri, 07 Jun 2013 11:38:12 +0000</pubDate>
		<dc:creator><![CDATA[Dominick Hollis]]></dc:creator>
		
		<guid isPermaLink="false">http://demo.woothemes.com/woocommerce/?post_type=product&#038;p=99</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.]]></description>
				<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>http://listing-manager-pro.wearecodevision.com/listing/uncategorized/woo-single-2/feed/</wfw:commentRss>
		<slash:comments>2</slash:comments>
		</item>
		<item>
		<title>Woo Album #4</title>
		<link>http://listing-manager-pro.wearecodevision.com/listing/uncategorized/woo-album-4/</link>
		<comments>http://listing-manager-pro.wearecodevision.com/listing/uncategorized/woo-album-4/#comments</comments>
		<pubDate>Fri, 07 Jun 2013 11:37:23 +0000</pubDate>
		<dc:creator><![CDATA[Dominick Hollis]]></dc:creator>
		
		<guid isPermaLink="false">http://demo.woothemes.com/woocommerce/?post_type=product&#038;p=96</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.]]></description>
				<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>http://listing-manager-pro.wearecodevision.com/listing/uncategorized/woo-album-4/feed/</wfw:commentRss>
		<slash:comments>2</slash:comments>
		</item>
		<item>
		<title>Woo Single #1</title>
		<link>http://listing-manager-pro.wearecodevision.com/listing/uncategorized/woo-single-1/</link>
		<comments>http://listing-manager-pro.wearecodevision.com/listing/uncategorized/woo-single-1/#respond</comments>
		<pubDate>Fri, 07 Jun 2013 11:36:34 +0000</pubDate>
		<dc:creator><![CDATA[Dominick Hollis]]></dc:creator>
		
		<guid isPermaLink="false">http://demo.woothemes.com/woocommerce/?post_type=product&#038;p=93</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.]]></description>
				<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>http://listing-manager-pro.wearecodevision.com/listing/uncategorized/woo-single-1/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Woo Album #3</title>
		<link>http://listing-manager-pro.wearecodevision.com/listing/uncategorized/woo-album-3/</link>
		<comments>http://listing-manager-pro.wearecodevision.com/listing/uncategorized/woo-album-3/#comments</comments>
		<pubDate>Fri, 07 Jun 2013 11:35:18 +0000</pubDate>
		<dc:creator><![CDATA[Dominick Hollis]]></dc:creator>
		
		<guid isPermaLink="false">http://demo.woothemes.com/woocommerce/?post_type=product&#038;p=90</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.]]></description>
				<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>http://listing-manager-pro.wearecodevision.com/listing/uncategorized/woo-album-3/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
		<item>
		<title>Woo Album #2</title>
		<link>http://listing-manager-pro.wearecodevision.com/listing/uncategorized/woo-album-2/</link>
		<comments>http://listing-manager-pro.wearecodevision.com/listing/uncategorized/woo-album-2/#comments</comments>
		<pubDate>Fri, 07 Jun 2013 11:34:14 +0000</pubDate>
		<dc:creator><![CDATA[Dominick Hollis]]></dc:creator>
		
		<guid isPermaLink="false">http://demo.woothemes.com/woocommerce/?post_type=product&#038;p=87</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.]]></description>
				<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>http://listing-manager-pro.wearecodevision.com/listing/uncategorized/woo-album-2/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
		<item>
		<title>Woo Album #1</title>
		<link>http://listing-manager-pro.wearecodevision.com/listing/uncategorized/woo-album-1/</link>
		<comments>http://listing-manager-pro.wearecodevision.com/listing/uncategorized/woo-album-1/#respond</comments>
		<pubDate>Fri, 07 Jun 2013 11:33:05 +0000</pubDate>
		<dc:creator><![CDATA[Dominick Hollis]]></dc:creator>
		
		<guid isPermaLink="false">http://demo.woothemes.com/woocommerce/?post_type=product&#038;p=83</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.]]></description>
				<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>http://listing-manager-pro.wearecodevision.com/listing/uncategorized/woo-album-1/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Woo Logo</title>
		<link>http://listing-manager-pro.wearecodevision.com/listing/uncategorized/woo-logo-3/</link>
		<comments>http://listing-manager-pro.wearecodevision.com/listing/uncategorized/woo-logo-3/#respond</comments>
		<pubDate>Fri, 07 Jun 2013 11:29:44 +0000</pubDate>
		<dc:creator><![CDATA[Dominick Hollis]]></dc:creator>
		
		<guid isPermaLink="false">http://demo.woothemes.com/woocommerce/?post_type=product&#038;p=79</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.]]></description>
				<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>http://listing-manager-pro.wearecodevision.com/listing/uncategorized/woo-logo-3/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Woo Ninja</title>
		<link>http://listing-manager-pro.wearecodevision.com/listing/uncategorized/woo-ninja-3/</link>
		<comments>http://listing-manager-pro.wearecodevision.com/listing/uncategorized/woo-ninja-3/#comments</comments>
		<pubDate>Fri, 07 Jun 2013 11:28:45 +0000</pubDate>
		<dc:creator><![CDATA[Dominick Hollis]]></dc:creator>
		
		<guid isPermaLink="false">http://demo.woothemes.com/woocommerce/?post_type=product&#038;p=76</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.]]></description>
				<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>http://listing-manager-pro.wearecodevision.com/listing/uncategorized/woo-ninja-3/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
		<item>
		<title>Premium Quality</title>
		<link>http://listing-manager-pro.wearecodevision.com/listing/uncategorized/premium-quality-2/</link>
		<comments>http://listing-manager-pro.wearecodevision.com/listing/uncategorized/premium-quality-2/#comments</comments>
		<pubDate>Fri, 07 Jun 2013 11:27:38 +0000</pubDate>
		<dc:creator><![CDATA[Dominick Hollis]]></dc:creator>
		
		<guid isPermaLink="false">http://demo.woothemes.com/woocommerce/?post_type=product&#038;p=73</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.]]></description>
				<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>http://listing-manager-pro.wearecodevision.com/listing/uncategorized/premium-quality-2/feed/</wfw:commentRss>
		<slash:comments>2</slash:comments>
		</item>
		<item>
		<title>Flying Ninja</title>
		<link>http://listing-manager-pro.wearecodevision.com/listing/uncategorized/flying-ninja/</link>
		<comments>http://listing-manager-pro.wearecodevision.com/listing/uncategorized/flying-ninja/#comments</comments>
		<pubDate>Fri, 07 Jun 2013 11:25:01 +0000</pubDate>
		<dc:creator><![CDATA[Dominick Hollis]]></dc:creator>
		
		<guid isPermaLink="false">http://demo.woothemes.com/woocommerce/?post_type=product&#038;p=70</guid>
		<description><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.]]></description>
				<content:encoded><![CDATA[<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
]]></content:encoded>
			<wfw:commentRss>http://listing-manager-pro.wearecodevision.com/listing/uncategorized/flying-ninja/feed/</wfw:commentRss>
		<slash:comments>4</slash:comments>
		</item>
	</channel>
</rss>
